@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --circle-bg: #334155;
  --surface-bg: #0F172A;
}

html {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
  background-color: var(--surface-bg);
}

body {
  background-color: var(--surface-bg);
  transition: background-color 0.3s ease-in-out;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("/font/Vazirmatn-Regular.woff2") format("woff2"),
       url("/font/Vazirmatn-Regular.woff") format("woff"),
       url("/font/Vazirmatn-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/font/Vazirmatn-Medium.woff2") format("woff2"),
       url("/font/Vazirmatn-Medium.woff") format("woff"),
       url("/font/Vazirmatn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/font/Vazirmatn-Bold.woff2") format("woff2"),
       url("/font/Vazirmatn-Bold.woff") format("woff"),
       url("/font/Vazirmatn-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
